dist/**
node_modules/**
report/**/*.aux
report/**/*.pdf
!report/**/graphs/*.pdf
report/**/*.graphs.tex
report/**/*.log
report/**/*.lof
report/**/*.lot
report/**/*.toc
report/**/*.nlo
report/**/*.ps
report/**/*.gplot
report/**/*.dat
**/.DS_STORE